@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$background-main: #f8e8d9;
$background-secondary: #ffffff;
$accent: #f57f5a;
$accent-bg: #3e2c27;
$text: #142d51;
$text-secondary: #777777;
